.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    margin-top: 30px;
    gap: 25px;
    row-gap: 40px;
    padding: 20px 0;
}

@media (max-width:1050px) {
    .food-display-list{
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        gap: 20px;
        row-gap: 35px;
    }
}

@media (max-width:768px) {
    .food-display-list{
        grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
        gap: 15px;
        row-gap: 25px;
    }
}